In [58]:
%matplotlib inline
import matplotlib
matplotlib.rcParams['font.size'] = 24
import matplotlib.pyplot as plt
import pandas as pd
import psycopg2 as pg
import seaborn as sns

In [74]:
conn = pg.connect(host="mlpolicylab.db.dssg.io", dbname="schools2_database")
cursor = conn.cursor()

In [75]:
distinct_ct_query = "SELECT {0}, COUNT(*) AS num FROM clean.all_snapshots GROUP BY {0};"
normal_query = "SELECT * FROM clean.all_snapshots;"
col_names = ['district', 'gender', 'ethnicity']

In [89]:
for name in col_names:
    query = distinct_ct_query.format(name)
    cursor.execute(query)
    items = cursor.fetchall()
    # print(items).to_latex(float_format="{:0.2f}"))
    table = pd.DataFrame.from_records([{name: key, 'count': ct } for key, ct in items])
    table['Proportion'] = table['count'] / table['count'].sum()
    print(table['count'].sum())
    table.drop(['count'], axis=1, inplace=True)
    print(table.to_latex(float_format="{:.3f}".format, index=False))

259946
\begin{tabular}{lr}
\toprule
              district &  Proportion \\
\midrule
             Coshocton &       0.078 \\
           Crooksville &       0.031 \\
        East Muskingum &       0.056 \\
              Franklin &       0.097 \\
         Logan\_Hocking &       0.085 \\
             Maysville &       0.101 \\
                Morgan &       0.034 \\
 New Lexington City SD &       0.042 \\
     Northern Local SD &       0.044 \\
             Ridgewood &       0.052 \\
             Riverview &       0.096 \\
             TriValley &       0.136 \\
        West Muskingum &       0.073 \\
            Zanesville &       0.076 \\
                  None &       0.000 \\
\bottomrule
\end{tabular}

259946
\begin{tabular}{lr}
\toprule
gender &  Proportion \\
\midrule
     F &       0.483 \\
     M &       0.517 \\
  None &       0.000 \\
\bottomrule
\end{tabular}

259946
\begin{tabular}{lr}
\toprule
ethnicity &  Proportion \\
\midrule
        A &       0.004 \\
        B &       0.018 \\
        H &       0.005 \\
        I &       0.001 \\
        M &       0.043 \\
        W &       0.926 \\
     None &       0.003 \\
\bottomrule
\end{tabular}